body {
	font-size: 2rem !important;
	
}
.container div {
	border: 1px solid black;
	box-sizing: border-box;
}

.calculator{
	text-align: center;
	vertical-align: middle !important; 
	height: 500px;
	width: 300px;
	overflow: hidden;
    position: relative;
}

.calculator-keypad {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.calculator-keypad div {
	height: 75px;
	width: 75px;
}

.key-0 {
	width: 150px !important;
	grid-column-end: span 2;
}

.auto-scaling-text {
	height: 125px;
	
}
